<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="48555F10-CE1E-4AF0-ADA6-0A5ADDFFF6A5"
    Publisher="CN=TkssDevelopment"
    Version="1.0.0.0"/>
  <Properties>
    <DisplayName>DevTKSS.MyManufacturerERP</DisplayName>
    <PublisherDisplayName>TKSS Development</PublisherDisplayName>
    <Logo>Assets\styled_logo.png</Logo>
  </Properties>

  <Dependencies>
    <!--<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />-->
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="DevTKSS.MyManufacturerERP"
        Description="DevTKSS.MyManufacturerERP"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\styled_logo.png"
        Square44x44Logo="Assets\styled_logo.png"/>
      <Extensions>
      <uap:Extension Category="windows.protocol">
        <uap:Protocol Name="ms-testoauthcsharp-launch">
          <uap:DisplayName>Win32 TestApp Sample URI Scheme</uap:DisplayName>
        </uap:Protocol>
      </uap:Extension>
    </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
